<h1>Edit Antique:</h1>
<br>
<% if !@antique.full_messages.empty? %>
    <div id="error_explanation">
        <h2>Errors:</h2>
        <ul>
            <% @antique.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: @antique, local: true) do |f| %>
    <%= f.label :photo %>
    <%= f.text_area :photo %>
    <br>
    <%= f.label :period %>
    <%= f.select :period, [nil, '16th century', '17th century', '18th century', '19th century', '20th century', 'unknown']%>
    <br>
    <%= f.label :provenance %>
    <%= f.select :provenance, [nil, 'US', 'Europe', 'Asia', 'Africa', 'South America', 'unknown']%>
    <br>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :title %>
    <br>
    <%= f.label :market_id %>
    <%= f.collection_select :market_id, Market.all, :id, :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.submit %>
<% end %>