<% if @market %>
    <%= render 'layouts/market_details' %>
<% else %>
    <h1>all antiques</h1>
<% end %>
<br>
<br>
<br>
<br>
<%= form_with scope: "", method: "get", local: true do |f| %>
<%= f.label :category_id %>
<%= f.collection_select(:category_id, Category.all, :id, :title, { include_blank: true } ) %>
<%= f.submit "filter by category", :class => "button_submit sage"  %>
<% end %>
<br>

<div class="grid_container">

    <% @antiques.each do |antique| %>
        <div class="antique_item">
            <h3><%= link_to "@#{antique.user.username}", user_path(antique.user_id) %></h3>
            <img><%= link_to image_tag(antique.antique_photo), antique_path(antique) %></img>
        </div>
    <% end %>

</div>
