<h1>Add a new Antique:</h1>
<br>
<%= render 'layouts/errors', {object: @antique} %>

<div class="form_layout">

    <%= form_with model: @antique.market.id ? [@antique.market, @antique] : @antique, local: true do |f| %>
        <%= f.label :antique_photo, "Add a photo of your antique: " %>
        <%= f.file_field :antique_photo %>
        <br>
        <br>
        <%= f.label :period %>
        <%= f.select :period, [nil, '16th century', '17th century', '18th century', '19th century', '20th century', 'unknown'], { include_blank: true } %>
        <br>
        <br>
        <%= f.label :provenance %>
        <%= f.select :provenance, [nil, 'US', 'Europe', 'Asia', 'Africa', 'South America', 'unknown'], { include_blank: true } %>
        <br>
        <br>
        <%= f.label :category_id %>
        <%= f.collection_select(:category_id, Category.all, :id, :title, { include_blank: true } ) %>
        <br>
        <br>
        <% if @antique.market.id %>
            <%= f.hidden_field :market_id %>
        <% else %>
            <%= f.label :market_id, "Select the market where it was purchased" %>
            <%= f.collection_select(:market_id, Market.all, :id, :name, { include_blank: true } ) %>
            <br>
            <br>
            <%= f.fields_for :market do |cf| %>
                <%= cf.label :name, "Or create a new market by name" %>
                <%= cf.text_field :name %>
            <% end %>
        <% end %>
        <br>
        <br>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <br>
        <br>
        <%= f.submit "add antique", :class => "button_submit sage" %>
    <% end %>

</div>