<h1>Add a new Antique:</h1>
<%= form_with model: @antique do |f| %>
    <%= f.label :photo %>
    <%= f.text_area :photo %>
    <br>
    <%= f.label :period %>
    <%= f.collection_select :period, ['16th century', '17th century', '18th century', '19th century', '20th century', 'unknown']%>
    <br>
    <%= f.label :provenance %>
    <%= f.collection_select :provenance, ['US', 'Europe', 'Asia', 'Africa', 'South America', 'unknown']%>
    <br>
    <%= f.label :category_id %>
    <%= f.check_box :category_id, Category.all, :id, :title %>
    <br>
    <%= f.label :market_id %>
    <%= f.check_box :market_id, Market.all, :id, :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.submit %>
<% end %>
