<p><%= antique.user_id.username %></p>
<div>antique.photo placeholder</div>
<p><%= antique.description %></p></br>
<p><strong>Category: </strong><%= antique.category_id.title %></p></br>
<p><strong>Period: </strong><%= antique.period %></p></br>
<p><strong>Provenance: </strong><%= antique.provenance %></p></br>
<p><strong>Market: (make link)</strong><%= antique.market_id.name %></p></br>
