<div class="grid_container">

    <div class="item_1">
        <h3><%= link_to "@#{@user.username}", user_path(@user) %></h3>
        <img><%= image_tag @antique.antique_photo %></img>
    </div>

    <div class="item_2">
        <p><strong>Category: </strong><%= @category.title %></p></br>
    </div>

    <div class="item_3">
        <p><strong>Provenance: </strong><%= @antique.provenance %></p></br>
    </div>

    <div class="item_4">
        <p><strong>Period: </strong><%= @antique.period %></p></br>
    </div>

    <div class="item_5">
        <p><strong>Market: </strong><%= link_to "#{ @market.name}", market_antiques_path(@market) %></p></br>
    </div>

    <div class="item_6">
        <p><strong>Description: </strong><%= @antique.description %></p></br>
    </div>

    <div class="item_7">
        <% if logged_in_user(@user) %>
            <a><%=  link_to "Edit Antique", edit_antique_path(@antique) %></a>
        <% end %>
    </div>

</div>
