<p><%= @user.username %></p>
<div>@antique.photo placeholder</div>
<p><%= @antique.description %></p></br>
<p><strong>Category: </strong><%= @category.title %></p></br>
<p><strong>Period: </strong><%= @antique.period %></p></br>
<p><strong>Provenance: </strong><%= @antique.provenance %></p></br>
<p><strong>Market: (make link)</strong><%= @market.name %></p></br>
