<h1><%= @user.username%> </h1>
<%= link_to "Add an Antique", new_antique_path(@antique) %>
<%= link_to "View Latest Antiques", antiques_path(@antiques) %>
<%= link_to "Check out all Flea Markets", markets_path(@markets) %>
<% @owned_antiques.each do |owned_antique| %>
    <div class="antique_item">
        <p><%= owned_antique.id %></p>
    </div>
<% end %>