<h1>Add a new Market:</h1>
<br>
<% if !@market.errors.empty? %>
    <div id="error_explanation">
        <h2>Errors:</h2>
        <ul>
            <% @market.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: @market, local: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <%= f.label :market_type %>
    <%= f.select :market_type, ['outdoor', 'indoor', 'pop-up', 'permanent']%>
    <br>
    <%= f.label :season %>
    <%= f.select :season, ['Year-long', 'Spring', 'Summer', 'Fall', 'Winter']%>
    <br>
    <%= f.label :number_of_vendors %>
    <%= f.number_field :number_of_vendors %>
    <br>
    <%= f.submit %>
<% end %>