<p><%= @market.name %></p>
<p><strong>Location: </strong><%= @market.location %></p></br>
<p><strong>Type: </strong><%= @market.type %></p></br>
<p><strong>Season: </strong><%= @market.season %></p></br>
<p><strong>Market: (make link)</strong><%= @market.name %></p></br>