<h1><%= @market.name %></h1>
<p><strong>Location: </strong><%= @market.location %></p></br>
<p><strong>Type of Market: </strong><%= @market.market_type %></p></br>
<p><strong>Season: </strong><%= @market.season %></p></br>
<p><strong>Number of Vendors: </strong><%= @market.number_of_vendors %></p></br>