<!DOCTYPE html>
<html>
  <head>
    <title>OuiFleaAntiquerie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site_wrapper">

      <nav class="main_nav">
        <ul>
          <li>logo</li>
          <li>favorites</li>
          <li>profile</li>
          <li>dropdowntools</li>
        </ul>
      </nav>

      <%= yield %>

      <footer class="main_footer">
        <ul>
          <li>links</li>
          <li>link1</li>
          <li>link2</li>
          <li>link3</li>
        </ul>
      </footer>

    </div>
    
  </body>
  
</html>
